:root {
    --primary-color: blue;
    --color-white: white;
    --text-color: rgb(35, 37, 99);
}

.body {
    background-color: var(--primary-color);
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* intro */
.intro {
    color: var(--color-white);
    padding: 100px;
    text-align: center;
    display: block;
    width: 50%;
    margin: auto;
}

.intro p {
    font-size: x-large;
}

.intro h2 {
    font-size: xx-large;
}

@media screen and (max-width: 767px) {
    .intro {
        text-align: center;
        width: 100%;
        display: inline;
    }

    .intro p {
        padding: 10px;
    }

    .intro h2 {
        text-align: center;
    }
}

/* row skills */

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    margin-bottom: 10px;


}

.row {
    margin: 0 -5px;
    position: relative;
    top: 20px;
    margin-left: 60px;
    margin-right: 60px;

}

.row:after {
    content: "";
    display: table;
    clear: both;
    border-radius: 10px;
}

@media screen and (max-width: 767px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .row {
        margin-left: 30px;
        margin-right: 30px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px 0;
    text-align: center;
    background-color: var(--color-white);
    height: 600px;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 var(--color-white);
}

.card img {
    height: 50px;
    width: 50px;
}

.card h2,
.card p {
    color: var(--text-color);
    font-size: large;
}

.card h4 {
    color: var(--primary-color);
}

/* portfolio */
.portfolio {
    min-height: 50vh;
}

.portfolio h2 {
    margin-top: 100px;
}

.portfolio h2,
.portfolio p {
    color: var(--text-color);
    text-align: center;
}

.portfolio p a {
    text-decoration: none;
    opacity: 0.5;
}

.portfolio p a:hover {
    opacity: 1;
}

.column1 {
    float: left;
    width: 50%;
    padding: 0 10px;
}

.row1 {
    margin: 0 -5px;
}

.row1:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 767px) {
    .column1 {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
/* start */
.start {
    background-color: var(--text-color);
    min-height: 25vh;
    position: relative;
    top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 20px;
}
.start h1 {
    padding-top: 8vh;
    text-align: left;
    columns: 3;
}

/* footer */
.footer {
    background-color: var(--primary-color);
    min-height: 50vh;
}
.footer p {
    padding-top: 70px;
    text-align: center;
    color: var(--color-white);
    font-size: 45px;
    font-weight: 700;
    letter-spacing: .1rem;
    font-family: 'Euphoria Script', cursive;
}
.footer h3, .footer a {
    text-align: center;
    padding-top: 0;
    color: var(--color-white);
}

.footer .icons ul {
    padding: 0;
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
}
.footer .icons ul a {
    opacity: 0.8;
}
.footer .icons ul a:hover {
    opacity: 1;
}
.footer .icons ul li {
    display: inline;
    padding: 10px;
}

