:root {
  --primary-color: rgb(34, 113, 233);
  --primary-color-white: white;
}

.App {
  background-color: var(--primary-color-blue);
  width: 100%;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
